.questions-section {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 1.5px solid #333;
}

.unattempted {
    background-color: red;
}

.current {
    background-color: yellow;
}

.confirm {
    background-color: green;
}

.top-question-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.attempts-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.attempt-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rectangle {
    width: 40px;
    height: 30px;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.status-text {
    font-size: 14px;
    color: #333;
}

.timer-question {
    display: block;
    text-align: right;
    gap: 10px;
}

.timer-text {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 2px 0;
    white-space: nowrap;
}

.line {
    width: 100%;
    background: black;
    height: 1px;
    opacity: 0.5;
}

.custom-modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
}

.custom-modal-content {
    width: 35%;
    height: 50%;
    max-height: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.custom-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-modal-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.custom-modal-yes-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.custom-modal-yes-button:hover {
    background-color: #c82333;
}

.custom-modal-no-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-modal-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.custom-modal-no-button:hover {
    background-color: #0056b3;
}


.checkboxes label {
    margin-right: 10px;
    font-size: 1rem;
    color: #333;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.question-navigation {
    text-align: center;
    margin: 10px auto 10px;
    width: 100%;
    box-sizing: border-box;
}

.question-nav-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    margin: 6px;
    background-color: #e0e0e0;
    border-radius: 2px;
    color: #333;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    line-height: 24px;
    border: 1px solid black;
}

.question-nav-box:hover {
    background-color: #b0bec5;
    transform: scale(1.1);
}

.question-nav-box.active {
    background-color: yellow;
    color: black;
}

.question-content {
    text-align: left;
    margin: 0 auto;
    position: relative;
}


.question-number-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 30px;
}

.answer-options-inline {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

.question-info {
    display: flex;
    align-items: center;
}

.marks {
    margin-left: 50px;
    font-size: 20px;
    color: black;
    margin-top: 18px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-left: 870px; /* Keep this for positioning */
    margin-top: 10px; /* Space above */
    margin-bottom: -40px; /* Maintain negative margin */
    z-index: 1000; /* Bring the button group to the front */
    position: relative; /* Allows z-index to take effect */
}

.answers-radio-options {
    position: relative;
    z-index: 1;
}

.reset-button, .confirm-button {
    padding: 4px 20px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.question-number-text {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 20px;
    top: 10px;
}

/* Icon styling */
.question-number-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


.reset-button {
    background-color: #e0e0e0;
    color: black;
    border: 1.5px solid black;
}

.confirm-button {
    background-color: #e0e0e0;
    color: black;
    border: 1.5px solid black;
}

.question-page {
    display: none;
}

.question-page.active {
    display: block;
}

.question-text {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.question-description {
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}


.status-box-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.status-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid black;
    margin-left: 15px;
}

.status-box-wrapper {
    margin-left: 10px;
}

.status-box-container span {
    font-size: 14px;
    color: black;
}

.answers-list {
    margin-top: 20px;
    overflow-x: auto;
}

.main-content {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
    max-height: 500px;
}


.answer-option {
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.answer-option-top {
    font-size: 1.2rem;
}

.answer-number {
    font-weight: bold;
    margin-right: 10px;
}

.answer-text {
    flex: 1;
}

.form-check-input {
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.question-nav-box.completed {
    background-color: green;
}

.bottom-buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 10px;
}

.button-question {
    display: flex;
    gap: 10px;
}

.zoom-buttons {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
}

.zoom-button {
    padding: 4px 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 4px;
}

.question-button {
    padding: 5px 25px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;
    border: 1.5px solid black;
}

.question-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.quit-button {
    padding: 5px 25px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;
    border: 1.5px solid black;
}

.answers-radio-options {
    display: flex;
    padding-left: 200px;
}

@media (max-width: 1200px) {
    .button-group {
        display: flex;
        gap: 10px;
        margin-left: 670px;
        margin-bottom: -40px;
    }

    .answers-radio-options {
        display: flex;
        padding-left: 100px;
        padding-top: 10px;
    }
}

@media (max-width: 990px) {

    .question-number-container {
        display: block;
    }

    .answer-options-inline {
        display: block;
    }
    .attempts-container {
        display: block;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 20%;
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .reset-button {
        margin-bottom: 5px;
    }

    .reset-button,
    .confirm-button {
        padding: 10px 0;
    }

    .question-number-text {
        margin-bottom: 15px;
        margin-top: -20px;
    }

    .answer-option-top {
        margin: 0;
        margin-bottom: 20px;
    }

    .attempt-status {
        margin-bottom: 10px;
    }

    .status-box-container {
        display: block;
        justify-content: center;
        margin-top: 10px;
        margin-left: 20px;
    }

    .status-box-wrapper {
        margin: 5px;
    }

    .question-info {
        text-align: center;
        margin-top: 10px;
        margin-right: 20px;
    }

    .timer-question {
        text-align: center;
        margin-top: 10px;
    }

    .answer-option-top {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .top-question-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .attempts-container {
        display: flex;
        align-items: center;
    }

    .answers-radio-options {
        width: 80%;
        padding-left: 20%;
    }

    .status-box-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .question-info {
        text-align: center;
    }

    .timer-text {
        margin-bottom: 10px;
    }

    .status-box-label {
        font-size: 14px;
    }

    .bottom-buttons {
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .zoom-buttons,
    .button-question,
    .quit-paper {
        width: 100%;
        display: block;
    }

    .question-button,
    .zoom-button,
    .quit-button {
        width: 80%;
        padding: 10px 0;
        margin: 10px auto;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 20%;
        width: 80%;
    }
    .reset-button {
        margin-bottom: 5px;
    }

    .reset-button,
    .confirm-button {
        padding: 10px 0;
    }

    .question-number-text {
        margin-bottom: 15px;
    }

    .answer-option-top {
        margin: 0;
        margin-bottom: 20px;
    }

}

@media (max-width: 280px) {

    .attempts-container {
        display: block;
    }
    .status-box-container {
        display: block;
    }

    .status-box-wrapper {
        margin-bottom: 10px;
    }

    .status-box-wrapper {
        display: flex;
    }

}

